Python for Data Science
terminologies

In [1]:
type(print)

builtin_function_or_method

In [22]:
def display_info(name, job_title, company_name, salary):
    print(f'Name: {name}\nJob Title: {job_title}\nCompany Name: {company_name}\nSalary: ${salary}')
name = 'Achaba Otieno'
job_title = 'CEO'
company_name = 'Achaba Analytics'
salary = 1000000
id(job_title)
id(company_name)

Name: Achaba Otieno
Job Title: CEO
Company Name: Achaba Analytics
Salary: $1000000

In [11]:
id(job_title), id(company_name), id(salary)

(2670637094624, 2670651379888, 2670650583792)

In [12]:
job1_id = job_title

In [14]:
id(job1_id), id(job_title)

(2670637094624, 2670637094624)

In [17]:
def greet(name):
    print(f'Hello {name}')

greet('Achaba Analytics')

Hello Achaba Analytics

In [26]:
type(input)

method

Class

In [16]:
job_title = 'Data Scientist'
job_location = 'Kenya'
job_salary = 900000

class JobInfo:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary
    

job1 = JobInfo(job_title, job_location, job_salary)
job1.salary

900000

In [38]:
job1.location

'Kenya'

In [6]:
job_title = 'Data Scientist'
job_location = 'Kenya'
job_salary = 900000

def display_info(title, location, salary):
        print(f'Job Title: {job_title}\nJob Location: {job_location}\nJob Salary: {job_salary}')


display_info(job_title, job_location, job_salary)

Job Title: Data Scientist
Job Location: Kenya
Job Salary: 900000

The Function of an Object

In [19]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary
    def display_info(self):
         return print(f'Job Title: {job_title}\nJob Location: {job_location}\nJob Salary: {job_salary}')

job_1 = JobPost(job_title, job_location, job_salary)

job_1.display_info()

Job Title: Data Scientist
Job Location: Kenya
Job Salary: 900000

In [21]:
job_salary.__add__(1)

900001

test

In [28]:
movie_title = 'John Wick'
genre = 'Action'
year = 2014

def movie_info(movie_title, genre, year):
    print(f'Title: {movie_title}\nGenre: {genre}\nYear: {year}')

movie_info(movie_title, genre, year)

Title: John Wick
Genre: Action
Year: 2014