Functions

In [1]:
skill_list = ['Python', 'SQL', 'Excel']

In [2]:
count = 0
for skill in skill_list:
    print(skill)
    count += 1

Python
SQL
Excel

In [3]:
count

3

In [4]:
data_salaries = [95000, 100000, 85000, 97000, 140000]
min(data_salaries)

85000

In [5]:
max(data_salaries)

140000

In [7]:
sum(data_salaries)

517000

In [8]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

User-Defined Functions

In [29]:
# calculate total_salary of base_salary * (1 + bonus_rate)

def calculate_salary(base_salary, bonus_rate):
    total_salary = base_salary * (1 + bonus_rate)
    return total_salary

calculate_salary(100000, 0.5)

150000.0

lambda functions

In [33]:
mul_two = lambda x: x*2

In [35]:
mul_two(3)

6

In [45]:
salary_list = [95000, 100000, 85000, 97000, 140000]

# calculate total_salary of base_salary * (1 + bonus_rate)

# def calculate_salary(base_salary, bonus_rate=.1):
#     return base_salary * (1 + bonus_rate)

total_salary_list = [(lambda x: x * 1.1)(salary) for salary in salary_list]

total_salary_list

[104500.00000000001,
 110000.00000000001,
 93500.00000000001,
 106700.00000000001,
 154000.0]